
Library/ScriptAssemblies/UnityEditor.UI.pdb
*.graph
Library/APIUpdater/project-dependencies.graph
Library/Artifacts/04/04474c011dbb48f2a6da1dfe2f19db29
Library/Artifacts/2a/2ae7b00b6b5f74997a917ebc5e1d830c
Library/Artifacts/48/48b18820417381e6751ca544cf18cc02
Library/Artifacts/1b/1bea3efd74c8911543bcc8ccf44e5e60
Library/ArtifactDB
Library/ArtifactDB
Library/Artifacts/4f/4f9751061b80962ab94fabe2f3b86780
Library/Artifacts/72/7286ec8ae5d01031d827956e04a0ad66
Library/Artifacts/88/882cb4b1c32763dc2123c6ae412d0e92
Library/Artifacts/89/893b99bfc81dab4d892bcc6c2fa2e705
Library/Artifacts/8c/8c2c0d05102256cb693daa31be44b918
Library/Artifacts/9a/9a08727e11486a59a7e97b8fce07cb18
Library/Artifacts/a2/a2e39556bb34fd5b2601aa2f8b55a384
Library/Artifacts/a6/a67fba02932b7c3cfbe8a21bfd7a8b24
Library/Artifacts/b8/b83967489a2398c6e486c144a189723d
Library/Artifacts/b8/b8f1fbbfb8143bc8261ddf48b2d2b207
Library/Artifacts/d1/d1271a98a8ffa14fc83917931f651180
Library/Artifacts/d2/d2d6c30e75fdbc02255a14464b7e62ab
Library/EditorInstance.json
Library/InspectorExpandedItems.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/PsdPlugin.dll
Library/ScriptAssemblies/Unity.2D.Animation.Editor.dll
Library/ScriptAssemblies/Unity.2D.Animation.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Common.Editor.dll
Library/ScriptAssemblies/Unity.2D.Common.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Path.Editor.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.dll
Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.dll
Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.dll
Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.dll
Library/ScriptAssemblies/Unity.Mathematics.dll
Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/SourceAssetDB
Library/StateCache/Hierarchy/4de7b0-mainStage.json
Library/StateCache/SceneView/be8dd5-mainStage.json
Temp/__Backupscenes/0.backup
Temp/UnityLockfile
Temp/UnityTempFile-0017e7c81f05aec46b8871ee67fd876c
Temp/UnityTempFile-00e622c7d76456049b1a63caaf32a819
Temp/UnityTempFile-018018bf67c93394a8e760c9f8769b05
Temp/UnityTempFile-0e8f554e3747aaa43a4c3c3d77179448
Temp/UnityTempFile-0fd100fc132ff414c837af9a7b8a6bdb
Temp/UnityTempFile-177b9707736a6e14e89118bf52e1b015
Temp/UnityTempFile-1c23de80647c2064f85c6795a1bad143
Temp/UnityTempFile-1dcfd6d8f167a2648a89535830fcc02a
Temp/UnityTempFile-1f1557cbe2008944087f2d2817385051
Temp/UnityTempFile-1ffcfbcc8e11bae41ad9e0a68bbcd805
Temp/UnityTempFile-230de6009ae530d4f916abc824270d26
Temp/UnityTempFile-25d2e94c6e9154d4e92cebbe98b21115
Temp/UnityTempFile-260eeca8425bdbd4f95c1735c08e522c
Temp/UnityTempFile-28085a729220c794882b62bc6df2b9da
Temp/UnityTempFile-2b3f538429655ae489b08a75f4a545f3
Temp/UnityTempFile-32442a162884036438514058fcb3f635
Temp/UnityTempFile-383727bcddfddc94cb9ce66dc01cb687
Temp/UnityTempFile-40e9dbc9b318e9b4f87875f3a7876e19
Temp/UnityTempFile-45d7d928466dfa949984ef220a9e508f
Temp/UnityTempFile-4652790314141524fa6f6545e8cf52c9
Temp/UnityTempFile-474bcf612d5469c47a310d8ba65c22c2
Temp/UnityTempFile-497445eb0ea60a14ba22bbe10c8453df
Temp/UnityTempFile-4974d02ba4576d94cafd457d5019b68a
Temp/UnityTempFile-4afd83c937dbb2e40920f71025b23e10
Temp/UnityTempFile-57a1c14181d97d940ac1510a712a022a
Temp/UnityTempFile-6132d29d9b9bc284296383ae46692d8f
Temp/UnityTempFile-6ac5665b887b6324690d4f90dec9e0e8
Temp/UnityTempFile-6dd602788e46a0344b85ecff1e45a1e6
Temp/UnityTempFile-6de5de0e4dba9e945a9aaefa5120d8f0
Temp/UnityTempFile-74e87900dcf955543b2b3a92491c9d34
Temp/UnityTempFile-7548265bb7656a548b36ee964afe5feb
Temp/UnityTempFile-7985c1cc41324b647b1c75d566b59bf9
Temp/UnityTempFile-80d75ec8800dfd74e8c955c76bff8787
Temp/UnityTempFile-84f0de6d9f1cce0419c4445d03154575
Temp/UnityTempFile-8a9098811cedaa444bb38b84fb1e33bc
Temp/UnityTempFile-8d5f22bd3d06b314abd9f908280dbf26
Temp/UnityTempFile-8e9b162ea15f35a41928e5148dd1ba5a
Temp/UnityTempFile-957e936718bb24a41a8a377258d63159
Temp/UnityTempFile-9630d6fe3d6c7a04f850ab47b49f2385
Temp/UnityTempFile-96b911ef33546b14db87d5e26576de14
Temp/UnityTempFile-a2bcc147caf772b44a71532148eac751
Temp/UnityTempFile-a31f8eff8bf9fe4409f918fac3167c37
Temp/UnityTempFile-a909457486ffbdd4c93ff7072fa2ab27
Temp/UnityTempFile-ac9d63f976352274b8ae6a8da873b13d
Temp/UnityTempFile-b8da53f638b949f499766ab45bb97b05
Temp/UnityTempFile-bf4782faf61ffa0458672400d8b209cb
Temp/UnityTempFile-c15874befa125084ea79056b04ceeb32
Temp/UnityTempFile-c42b9d3c7ec286747b6f1d83bcb5cd18
Temp/UnityTempFile-cd992767efa787b4eac7051a43bde122
Temp/UnityTempFile-d5306d9545976ac489036424f3bd0f1b
Temp/UnityTempFile-d73a3d5a0c268df48a30e0fc573ed40f
Temp/UnityTempFile-d96499d31ffafca44bfd9b2dbb0a86d5
Temp/UnityTempFile-ddb3fa6806878a849954f4e39c5c072a
Temp/UnityTempFile-e0b8a42449e45074cba38550467774fb
Temp/UnityTempFile-e7ba139d914964544929f2ca6828bad8
Temp/UnityTempFile-f424fc13af14ecf419854d17b82407f3
Temp/UnityTempFile-f434981e5169a4e43979cc3b392a4b6c
Temp/UnityTempFile-f55f6201e6f90ff4abab72b6e7d8d4b5
Temp/UnityTempFile-f6016b3bed18e4940b60a91d0f01edfc
Temp/UnityTempFile-f6ff5c97cb39ef94f91de9fbd4a57643
Library/APIUpdater/project-dependencies.graph
Library/ArtifactDB
Library/Artifacts/88/882cb4b1c32763dc2123c6ae412d0e92
Library/Artifacts/a2/a2e39556bb34fd5b2601aa2f8b55a384
Library/Artifacts/d2/d2d6c30e75fdbc02255a14464b7e62ab
Library/InspectorExpandedItems.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Library/ScriptAssemblies/PsdPlugin.dll
Library/ScriptAssemblies/Unity.2D.Animation.Editor.dll
Library/ScriptAssemblies/Unity.2D.Animation.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Common.Editor.dll
Library/ScriptAssemblies/Unity.2D.Common.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Path.Editor.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.dll
Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.dll
Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.dll
Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.dll
Library/ScriptAssemblies/Unity.Mathematics.dll
Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/SourceAssetDB
Library/StateCache/Hierarchy/4de7b0-mainStage.json
Library/StateCache/SceneView/be8dd5-mainStage.json
Library/APIUpdater/project-dependencies.graph
Library/ArtifactDB
Library/Artifacts/88/882cb4b1c32763dc2123c6ae412d0e92
Library/Artifacts/a2/a2e39556bb34fd5b2601aa2f8b55a384
Library/Artifacts/d2/d2d6c30e75fdbc02255a14464b7e62ab
Library/InspectorExpandedItems.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Library/ScriptAssemblies/PsdPlugin.dll
Library/ScriptAssemblies/Unity.2D.Animation.Editor.dll
Library/ScriptAssemblies/Unity.2D.Animation.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Common.Editor.dll
Library/ScriptAssemblies/Unity.2D.Common.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Path.Editor.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.dll
Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.dll
Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.dll
Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.dll
Library/ScriptAssemblies/Unity.Mathematics.dll
Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/SourceAssetDB
Library/StateCache/Hierarchy/4de7b0-mainStage.json
Library/StateCache/SceneView/be8dd5-mainStage.json
Library/APIUpdater/project-dependencies.graph
Library/ArtifactDB
Library/Artifacts/88/882cb4b1c32763dc2123c6ae412d0e92
Library/Artifacts/a2/a2e39556bb34fd5b2601aa2f8b55a384
Library/Artifacts/d2/d2d6c30e75fdbc02255a14464b7e62ab
Library/InspectorExpandedItems.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Library/ScriptAssemblies/PsdPlugin.dll
Library/ScriptAssemblies/Unity.2D.Animation.Editor.dll
Library/ScriptAssemblies/Unity.2D.Animation.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Common.Editor.dll
Library/ScriptAssemblies/Unity.2D.Common.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Path.Editor.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.dll
Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.dll
Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.dll
Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.dll
Library/ScriptAssemblies/Unity.Mathematics.dll
Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/SourceAssetDB
Library/StateCache/Hierarchy/4de7b0-mainStage.json
Library/StateCache/SceneView/be8dd5-mainStage.json
Library/APIUpdater/project-dependencies.graph
Library/ArtifactDB
Library/ArtifactDB
*.graph
Library/ArtifactDB
